body {
    background-color: #212529;
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.card-header {
    background-color: rgba(255, 255, 255, 0.03);
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.list-group-item {
    background-color: #212529;
}

.list-group-item-warning {
    background-color: #332701;
    border-color: rgba(255, 193, 7, 0.5);
}

.list-group-item-danger {
    background-color: #2c0b0e;
    border-color: rgba(220, 53, 69, 0.5);
}
